body {
  font-family: fantasy;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; 
  background: linear-gradient(to bottom, #4682b4, #00a36c);
  background: #4682b4, #00a36c; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: top left, bottom right;
}

#header {
  text-align: center;
} 

#header-img {
  width: 100%;
  height: auto;
} 

#header p {
  text-align: center; 
  font-size: 30px;
}

#title {
  color: rgb(0, 0, 0);
  text-shadow: -1px -1px 0 rgb(247, 241, 241), 1px -1px 0 rgb(247, 241, 241),
    -1px 1px 0 rgb(247, 241, 241), 1px 1px 0 rgb(247, 241, 241);
} 
#pokemon-entries {
  list-style: none;
  padding: 0;
  text-align: left; 
  margin-left: 0; 
}

h1 {
  text-align: left; 
  margin-left: 20px; 
} 

#pokemon-entries li {
  font-size: 22px; 
  text-align: left; 
  cursor: pointer;
}



#pokemon-details {
  text-align: center;
  margin-top: 20px; 
  
  justify-content: center;
} 

img {
  height: 400px; 
  width: 300px;
  
}
#Dex-num,
#weight {
    font-size: 20px;
}


.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}





